<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Digitalt.otf</string>
		<string>BlackHanSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>eggonomics</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eggonomics</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
